<div class="card-container">
    <form (ngSubmit)="updateSettings()" [formGroup]="settingsForm">
      <mat-card>
        <mat-card-title>Infrastructure Console Settings</mat-card-title>
        <mat-card-content fxLayout="column">
            <mat-form-field>
              <input matInput formControlName="frappeInstanceUrl" placeholder="Frappe Server Url">
            </mat-form-field>
          <mat-form-field>
            <input
              matInput type="password" placeholder="Client Access Token"
              formControlName="accessToken" [type]="hideClientSecret ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hideClientSecret = !hideClientSecret">
              {{hideClientSecret ? 'visibility' : 'visibility_off'}}
            </mat-icon>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button color="primary" [disabled]="!settingsForm.valid">Update</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>