
<div *ngFor="let milestone of milestones; let i = index;">
    <mat-expansion-panel [expanded]="!i" class="mat-elevation-z8">
        <mat-expansion-panel-header style="background-color: #283593;"  class="white-arrow">
                <mat-panel-title style="color:white;">
              Project Section {{i + 1}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let field of milestone; let i = index;" fxLayout="row" fxLayoutAlign="start center">
            <p fxFlexOffset="5"fxFlex="10"> Field Name {{field}}</p>
            <mat-form-field fxFlex="60">
                <input matInput placeholder="Main Milestone field {{field}}">
              </mat-form-field>
        </div>
    </mat-expansion-panel>
</div>
